button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-radius: 3px;
	background: $secondary;
	color: white;
	@include font-size(0.95);
	line-height: 1;
	padding: .6em 1em .4em;
	&:hover {
	    background: $secondary-alt;	
	}

	&:active,
	&:focus {
		background: $secondary-alt;
	}
}
