.page-template-page-about {
    .entry-content {
        @include media($desktop) {
            @include span-columns(5);
        }
    }
}


.dev-design-logo {
    display: block;
    margin: 0 auto;
}

.circle-header {
    font-family: 'Raleway', sans-serif;
    background-color: $secondary;
    color: $neutral-light; 
    border-radius: 50%;
    padding: 5em 3em;
    width: 16em;
    height: 16em;
    margin: 2em auto;
    display: none;
    @include media($desktop) {
        display: block;
    }
    .about-role {
        font-size: 1.1em;
        width: 10em;
            span {
                color: $primary;
            }
    }
    .about-title {
        font-size: 1.4em;
        margin-top: 1em;
    }
}


.about-graphics {
    @include media($desktop) {
        float: left;
        margin-top: -11em;
        margin-right: 4em;
        margin-left: 6em;
        @include span-columns(5);
    }
}
