.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    font-family: 'Raleway', sans-serif;
    margin-top: 1em;
    @include media($desktop) {
        margin-top: 0;
    }
    
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
    padding: 2em;
    @include media($desktop) {
        padding: 1em;
    }
}
